@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    /* Color Base */
    --white: #ffffff;
    --black: #000000;

    /* Color Theme */
    --bg-color: #f7f7f7;
    --primary-color: #c80005;
    --text-color: #505050;
}

.text-main {
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.btn-main {
    background-color: var(--primary-color);
}