/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    /* Color Base */
    --white: #ffffff;
    --black: #000000;

    /* Color Theme */
    --bg-color: #f7f7f7;
    --primary-color: #c80005;
    --text-color: #505050;
}

.text-main {
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#login {
    margin: 0;
    padding: 0;
    /* width: 1440px;
    height: 1024px; */
}

#login-left {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

#headerText {
    font-size: 64px;
}

#eye {
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 0px;
    cursor: pointer;
}

@media only screen and (max-width: 668px){
    #headerText {
        font-size: 34px;
    }

    #login-page .row > .col-md-6:nth-child(2){
        display: none;
    }


}

a {
    text-decoration: none;
    font-size: 14px;
}

.button-main {
    background-color: var(--primary-color);
}


.button-main:hover {
    background-color: #a20003;
}

.border-main {
    border-color: var(--primary-color);
}

.btn-hvr:hover {
    background-color: var(--primary-color);
}

.fs-10 {
    font-size: 14px;
}

.bg-color {
    background-color: var(--bg-color);
}
